
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.introduce-bg2{
  padding : 20px;
}
.introduce-mid{
  width : 90%;
  margin : auto;
}

.infolayer [class^='y'][class$='title'] {
  transform: rotate(-90deg) translate(-95px, -130px);
}

.infolayer [class^='x'][class$='title'] {
  transform: rotate(0deg) translate(240px, 0px);
}
// 自適應設定
@media (max-width: 767px) {
    // 修改字體大小
    .autosized .label { font-size: 14px; }
}

@media (min-width: 768px) and (max-width: 991px) {
    // 修改字體大小
    .autosized .label { font-size: 16px; }
}

@media (min-width: 992px) and (max-width: 1199px) {
    // 修改字體大小
    .autosized .label { font-size: 18px; }
}

@media (min-width: 1200px) {
    // 修改字體大小
    .autosized .label { font-size: 20px; }
}
